extends ../layout

block content
  h1 Seccion Pacientes
  h2 Nuevo Paciente
  form(method="POST", action="/pacientes/nuevo")
    .mb-3
      label.form-label Nombre
      input.form-control(type="text", name="nombre", required)
    .mb-3
      label.form-label Apellido
      input.form-control(type="text", name="apellido", required)
    .mb-3
      label.form-label DNI
      input.form-control(type="text", name="dni", required)
    .mb-3
      label.form-label Sexo
      select.form-select(name="sexo", required)
        option(value="" disabled selected) -- Seleccione --
        option(value="masculino") Masculino
        option(value="femenino") Femenino

    button.btn.btn-success(type="submit") Guardar
    a.btn.btn-secondary.ms-2(href="/pacientes") Cancelar
